# M1 Pro chip, Python 3.9.9
numpy >= 1.21.4
scipy >= 1.7.3
pandas >= 1.3.4
kymatio >= 0.2.1
torch >= 1.10.0

# Plotting
matplotlib >= 3.5.0

# TFR
# libwwz >= 1.1.0

# TO BE UPDATED
# redvox >= 3.0.10
# librosa




